<!DOCTYPE html>
<html class="no-js" lang="en" />

	{{> head meta-title=about.meta-title meta-description=about.meta-description}}

	<body class="about">

        <header>

			<p>
				This is the header 2
			</p>

        </header>

        <a href="/">Home Page</a>

		<h1>{{about.title}}</h1>

		<p>
			Here is some sample content on the about page.
		</p>

		{{> footer}}

	</body>

</html>
