<!DOCTYPE html>
<html class="no-js" lang="en" />

	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">
		
		{{> browser-upgrade}}

        <header>

			<p>
				This is the header
			</p>

        </header>

        <a href="/about">About Page</a>

        <h1>Enjoy building your templating project!</h1>

        <p>
        	Included in this generator ...
        </p>

		<ul>
			<li>HTML5 template</li>
			<li>normalize scss</li>
			<li>sass(scss)</li>
			<li>console js</li>

			<li>modernizr</li>
			<li>jQuery</li>
			<li>JSON data</li>
			<li>Handlebars partials</li>
			<li>Gulp</li>
		</ul>

		<p>
			To use livereload, ensure your browser has livereload enabled in settings.
		</p>

		<p>
			Don't forget to run Gulp in the command line!
		</p>

		{{> footer}}

	</body>
</html>
